<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h4><%= link_to product.name, product_path(product), remote: true %></h4>
      <div class='product_detail' id='product_detail_<%=product.id%>'>
        <%= image_tag(product.photo) %>
        <p><%= product.description %></p>
        <% if admin %>
          <%= link_to "Delete", product_path(product), :class => "btn btn-danger",
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %>
          <%= link_to "Edit", edit_product_path(product), :class => "btn btn-warning" %>
        <% end %>
      </div>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, min: 1 %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
